.border {
  border-style: solid;
  border-width: 1px;
}

.border-1 {
  border-style: solid;
  border-width: 0.25rem;
}

.border-2 {
  border-style: solid;
  border-width: 0.5rem;
}

.border-3 {
  border-style: solid;
  border-width: 0.75rem;
}

.border-4 {
  border-style: solid;
  border-width: 1rem;
}


@include mq(md) {
  .border-md {
    border-style: solid;
    border-width: 1px;
  }

  .border-md-1 {
    border-style: solid;
    border-width: 0.25rem;
  }

  .border-md-2 {
    border-style: solid;
    border-width: 0.5rem;
  }

  .bordermd--3 {
    border-style: solid;
    border-width: 0.75rem;
  }

  .border-md-4 {
    border-style: solid;
    border-width: 1rem;
  }
}

.border-t,
.border-y {
  border-top-style: solid;
  border-top-width: 1px;
}

.border-t-1,
.border-y-1 {
  border-top-style: solid;
  border-top-width: 0.25rem;
}

.border-t-2,
.border-y-2 {
  border-top-style: solid;
  border-top-width: 0.5rem;
}

.border-t-3,
.border-y-3 {
  border-top-style: solid;
  border-top-width: 0.75rem;
}

.border-t-4,
.border-y-4 {
  border-top-style: solid;
  border-top-width: 1rem;
}

.border-b,
.border-y {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.border-b-1,
.border-y-1 {
  border-bottom-style: solid;
  border-bottom-width: 0.25rem;
}

.border-b-2,
.border-y-2 {
  border-bottom-style: solid;
  border-bottom-width: 0.5rem;
}

.border-b-3,
.border-y-3 {
  border-bottom-style: solid;
  border-bottom-width: 0.75rem;
}

.border-b-4,
.border-y-4 {
  border-bottom-style: solid;
  border-bottom-width: 1rem;
}

.border-r,
.border-x {
  border-right-style: solid;
  border-right-width: 1px;
}

.border-r-1,
.border-x-1 {
  border-right-style: solid;
  border-right-width: 0.25rem;
}

.border-r-2,
.border-x-2 {
  border-right-style: solid;
  border-right-width: 0.5rem;
}

.border-r-3,
.border-x-3 {
  border-right-style: solid;
  border-right-width: 0.75rem;
}

.border-r-4,
.border-x-4 {
  border-right-style: solid;
  border-right-width: 1rem;
}

.border-l,
.border-x {
  border-left-style: solid;
  border-left-width: 1px;
}

.border-l-1,
.border-x-1 {
  border-left-style: solid;
  border-left-width: 0.25rem;
}

.border-l-2,
.border-x-2 {
  border-left-style: solid;
  border-left-width: 0.5rem;
}

.border-l-3,
.border-x-3 {
  border-left-style: solid;
  border-left-width: 0.75rem;
}

.border-l-4,
.border-x-4 {
  border-left-style: solid;
  border-left-width: 1rem;
}
