.text-decoration-none {
  text-decoration: none;
}

.u-light-grey-background {
  background-color: #faf8f5;
}

.max-width-350 {
  max-width: 350px !important;
}

.max-width-450 {
  width: 450px !important;
  max-width: 100% !important;
}

.max-width-480 {
  width: 480px !important;
  max-width: 100% !important;
}

.w-100 {
  width: 100%;
}

.pos-relative {
  position: relative;
}

.left-arrow::before {
  content: '←';
}

.right-arrow::before {
  content: '→';
}

.white-md-background {
  @include mq(md) {
    background-color: $white;
  }
}

.breadcrumbs-container {
  border-top: 1px solid $dark-gray;
  border-bottom: 1px solid $dark-gray;

  @include mq(sm) {
    border-top: none;
    background-color: $white;
  }
}

.post-main-content {
  p,
  p span {
    font-size: 1rem;
    line-height: 36px;
    margin: 2rem 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 2rem 0;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  img {
    max-width: 100%;
  }
}
