.text-decoration-none {
  text-decoration: none;
}

.u-light-grey-background {
  background-color: #faf8f5;
}

.max-width-350 {
  max-width: 350px !important;
}

.max-width-450 {
  width: 450px !important;
  max-width: 100% !important;
}

.max-width-480 {
  width: 480px !important;
  max-width: 100% !important;
}

.w-100 {
  width: 100%;
}

.pos-relative {
  position: relative;
}

.left-arrow::before {
  content: '←';
}

.right-arrow::before {
  content: '→';
}

.white-md-background {
  @include mq(md) {
    background-color: $white;
  }
}

.breadcrumbs-container {
  border-top: 1px solid $dark-gray;
  border-bottom: 1px solid $dark-gray;

  @include mq(sm) {
    border-top: none;
    background-color: $white;
  }
}
