.text-decoration-none {
  text-decoration: none;
}

.u-black--text {
  color: $u-black !important;
  caret-color: $u-black !important;
}

.u-grey-background {
  background-color: #797979;
}

.u-light-grey-background {
  background-color: #f6f6f6;
}

.max-width-350 {
  max-width: 350px !important;
}

.max-width-600 {
  max-width: 600px !important;
}

.w-100 {
  width: 100%;
}

.pos-relative {
  position: relative;
}
