// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

// BASE COLOR
$white: #fff;
$u-black: #333;
$dark-gray: #d5ceb7;
$gray: #eeece5;

// MAIN PAGE COLOR

// Vuetify Module
$color-pack: false;

$body-font-family: -apple-system, blinkmacsystemfont, roboto, "Segoe UI", "Helvetica Neue", helveticaneue, yugothic, "Yu Gothic Medium", "Yu Gothic", verdana, meiryo, sans-serif;
$breadcrumbs-item-font-size: 0.8rem;
$material-light: (
  'text': (
    'primary': $u-black,
  )
);

@import '~vuetify/src/styles/styles.sass';
