rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true;
    }

    match /shops/{document=**} {
      allow write: if isSignedIn() && isOwner()
      allow read
    }

    match /menus/{document=**} {
      allow write: if isSignedIn() && isOwner()
      allow read
    }

    match /keywords/{document=**} {
      allow write: if isSignedIn() && isOwner()
      allow read
    }

    match /priceRanges/{document=**} {
      allow write: if isSignedIn() && isOwner()
      allow read
    }

    match /areas/{document=**} {
      allow write: if isSignedIn() && isOwner()
      allow read
    }

    match /dishes/{document=**} {
      allow write: if isSignedIn() && isOwner()
      allow read
    }
  }
}
