rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /shops/{document=**} {
      function isSignedIn() {
        return request.auth != null;
      }

      function isOwner() {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true;
      }

      allow write: if isSignedIn() && isOwner()
      allow read
    }

    match /menus/{document=**} {
    	function isSignedIn() {
        return request.auth != null;
      }

      function isOwner() {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true;
      }

      allow write: if isSignedIn() && isOwner()
      allow read
    }

    match /keywords/{document=**} {
    	function isSignedIn() {
        return request.auth != null;
      }

      function isOwner() {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true;
      }

      allow write: if isSignedIn() && isOwner()
      allow read
    }

    match /priceRanges/{document=**} {
    	function isSignedIn() {
        return request.auth != null;
      }

      function isOwner() {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true;
      }

      allow write: if isSignedIn() && isOwner()
      allow read
    }
  }
}
